{% extends 'base.html' %}
{% load static %}
{% block title %}DevBlog - About Me{% endblock title %}
{% block context %}
    <div class="container" id="about-container">
        <h1 style="margin-bottom: 30px">{{ profiles.user.username }}'s Profile</h1>
        <div class="about-section">
            <div class="about-profile">
                <img src="{% static 'accounts/images/anonymous_user.png' %}" width="200px" height="200px"
                     alt="Julia Walker">
            </div>
            <div class="about-text">
                <table class="table mt-5">
                    <thead>
                    <tr>
                        <th>User Profile</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ profiles.user.username }}</td>
                        <td>{{ profiles.first_name }}</td>
                        <td>{{ profiles.last_name }}</td>
                        <td>{{ profiles.email }}</td>
                    </tr>
                    </tbody>
                </table>
                <a href="{% url 'accounts:edit_profile' %}" class="btn btn-primary">Edit Profile</a>
            </div>
        </div>
    </div>

{% endblock context %}

